@model BankSystem.Models.DepositRequestVM

@{
    ViewBag.Title = "Заявка на депозит";
}

<h2>Заявка на депозит</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Тип депозита</label>
        @Html.DropDownListFor(m => m.RequestModel.DepositTypeId, Model.DepositTypes, new {@class = "form-control"})
    </div>
    <div class="form-group">
        <label>Сумма депозита</label>
        @Html.TextBoxFor(m => m.RequestModel.Amount, new {@class = "form-control"})
    </div>
    <button class="btn btn-success">Отправить заявку</button>
}