@using BLL.Models
@using BLL.Models.Enums
@using GridMvc.Html
@model BankSystem.Models.RequestsQueVM

@{
    ViewBag.Title = "Очередь заявок";
}

@helper RenderAssignLinkAction(RequestModel request)
{
    if (request.AssignedOperatorId == Model.CurrentUser.UserId)
    {
        <text>На моем рассмотрении</text>
    }
    else if (!request.AssignedOperatorId.HasValue)
    {
        @Html.ActionLink("Рассмотреть заявку", "AssignRequest", new {requestId = request.Id})
    }
}

@helper RenderRequestType(RequestType type)
{
    switch (type)
    {
        case RequestType.Credit:
            <span>Кредит</span>
            break;
        case RequestType.Deposit:
        <span>Депозит</span>
            break;
    }
}

@helper RenderRequestDetailsAction(int requestId)
{
    @Html.ActionLink("Просмотр", "EmployeeDetails", new {requestId = requestId})
}

<h2>Очередь заявок</h2>
<div>
    @Html.ActionLink("Рассмотрены специалистом по безопасности", "ToApprove")
</div>
@Html.Grid(Model.Requests).Columns(columns =>
{
    columns.Add(item => item.FormattedDate)
        .Titled("Дата");

    columns.Add()
        .Titled("Тип")
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderRequestType(item.Type));

    columns.Add(item => item.TypeName)
        .Titled("Название");
    
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderAssignLinkAction(item));

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderRequestDetailsAction(item.Id));
}).EmptyText("Записей не найдено")