@using BLL.Models
@using GridMvc.Html
@model BankSystem.Models.RequestsQueVM

@{
    ViewBag.Title = "Подтвержденные заявки";
}

@helper RenderAssignLinkAction(RequestModel request)
{
    if (request.AssignedOperatorId == Model.CurrentUser.UserId)
    {
        <text>На моем рассмотрении</text>
    }
    else if (!request.AssignedOperatorId.HasValue)
    {
        @Html.ActionLink("Рассмотреть заявку", "AssignRequest", new { requestId = request.Id })
    }
}

@helper RenderRequestDetailsAction(int requestId)
{
    @Html.ActionLink("Просмотр", "EmployeeDetails", new { requestId = requestId })
}

<h2>Подтвержденные заявки</h2>
<div>
    @Html.ActionLink("Очередь заявок", "RequestsQue")
</div>
@Html.Grid(Model.Requests).Columns(columns =>
{
    columns.Add(item => item.TypeName)
        .Titled("Название");

    columns.Add(item => item.FormattedDate)
        .Titled("Дата");

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderAssignLinkAction(item));

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderRequestDetailsAction(item.Id));
}).EmptyText("Записей не найдено").WithPaging(15)