@using GridMvc.Html
@model IEnumerable<BLL.Models.CreditModel>

@{
    ViewBag.Title = "Просроченные кредиты";
}

<h2>Просроченные кредиты</h2>

@helper RenderViewAction(int creditId)
{
    @Html.ActionLink("Подробнее", "EmployeeDetails", "Credit", new { creditId = creditId }, null)
}

<h2>Кредиты</h2>
@Html.Grid(Model).Columns(columns =>
{
    columns.Add()
        .Titled("Название")
        .RenderValueAs(item => String.Format("{0} {1}", item.CreditType.Name, item.CreditType.CurrencyShort));

    columns.Add(item => item.FormattedStartDate)
        .Titled("Дата открытия");

    columns.Add()
        .Titled("Номер договора")
        .RenderValueAs(item => String.Format("123001{0}", item.Id));

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderViewAction(item.Id));
}).EmptyText("Записей не найдено")