@using GridMvc.Html
@model IEnumerable<BLL.Models.CreditModel>

@{
    ViewBag.Title = "Мои кредиты";
}

@helper RenderViewAction(int creditId)
{
    @Html.ActionLink("Подробнее", "ClientDetails", new { creditId = creditId })
}

<h2>Мои кредиты</h2>
<div>
    @Html.ActionLink("Личный кабинет", "Personal", "Client")
</div>
@Html.Grid(Model).Columns(columns =>
{
    columns.Add()
        .Titled("Название")
        .RenderValueAs(item => String.Format("{0} {1}", item.CreditType.Name, item.CreditType.CurrencyShort));

    columns.Add(item => item.FormattedStartDate)
        .Titled("Дата открытия");

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderViewAction(item.Id));
}).EmptyText("Записей не найдено").WithPaging(15)