@{
    ViewBag.Title = "Личный кабинет";
}

<h2>Личный кабинет</h2>
<div>
    @Html.ActionLink("Мои заявки", "ClientViewRequests", "Request")    
</div>
<div>
    @Html.ActionLink("Мои вклады", "DepositsForClient", "Deposit")
</div>