@model BLL.Models.DepositTypeModel

@{
    ViewBag.Title = "Вклад";
}

<h2>Вклад</h2>
<div>
    @Html.ActionLink("Назад к вкладам", "ViewDepositTypes")
</div>
<div>
    Название: @Model.Name
</div>
<div>
    Валюта: @Model.CurrencyShort
</div>
<div>
    @Model.Description
</div>