@using GridMvc.Html
@model IEnumerable<BLL.Models.CreditTypeModel>

@{
    ViewBag.Title = "Кредиты";
}

@helper RenderViewAction(int id)
{
    @Html.ActionLink("Подробнее", "Details", new { creditTypeId = id })
}

<h2>Кредиты</h2>
<div>
    @Html.ActionLink("На главную", "Index", "Home")
</div>
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(item => item.Name)
        .Titled("Название");

    columns.Add(item => item.CurrencyShort)
        .Titled("Валюта");

    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(item => RenderViewAction(item.Id));
}).EmptyText("Записей не найдено")