@{
    ViewBag.Title = "Домашняя страница";
}

<h3>Добро пожаловать</h3>
@if (User.IsInRole("Client"))
{
    <div>
        @Html.ActionLink("Личный кабинет", "Personal", "Client")
    </div>
}
<div>
    @Html.ActionLink("Просмотреть вклады", "ViewDepositTypes", "DepositType")
</div>
<div>
    @Html.ActionLink("Просмотреть кредиты", "ViewCreditTypes", "CreditType")
</div>
<div>
    @Html.ActionLink("Курсы валют", "Currency")
</div>