@{
    ViewBag.Title = "Home Page";
}


<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">О банке</a></li>
        <li role="presentation"><a href="#credits" aria-controls="credits" role="tab" data-toggle="tab">Кредиты</a></li>
        <li role="presentation"><a href="#deposites" aria-controls="deposites" role="tab" data-toggle="tab">Вклады</a></li>
        <li role="presentation"><a href="#currency" aria-controls="currency" role="tab" data-toggle="tab">Курсы валют</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="about">
            <div class="jumbotron">
                О банке
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="credits">
            <div class="jumbotron">
                Кредиты
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="deposites">
            <div class="jumbotron">
                Вклады
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="currency">
            <div class="jumbotron">
                <h2>Курсы валют</h2>
                <div>
                    USD 18 700 / 18 900
                </div>
                <div>
                    EUR 20 000 / 20 350
                </div>
                <div>
                    RUB 245.00 / 257.00
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <div class="input-group"> 
                        <div class="form-group">                            
                            <select class="form-control" id="currency-1-name">
                                <option value="1">BYR</option>
                                <option value="18700">USD</option>
                                <option value="20000">EUR</option>
                                <option value="245">RUB</option>
                            </select>
                        </div>                  
                        <input type="text" class="form-control" id="currency-1">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <div class="input-group">
                            <div class="form-group">
                                <select class="form-control" id="currency-2-name">
                                    <option value="18700">USD</option>
                                    <option value="1">BYR</option>
                                    <option value="20000">EUR</option>
                                    <option value="245">RUB</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" id="currency-2">                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-2" style="margin-top:33px;">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="currency-btn">Посчитать</button>
                    </span>
                </div>
        </div>        
    </div>
</div>



