@{
    ViewBag.Title = "Управление";
}

<h2>Управление</h2>
<div>
    Дата: @ViewBag.CurrentDate
</div>
<div>
    @Html.ActionLink("День вперед", "DayForward")
</div>
<div>
    @Html.ActionLink("Месяц вперед", "MonthForward")
</div>
<div>
    @Html.ActionLink("Год вперед", "YearForward")
</div>