@{
    ViewBag.Title = "Управление";
}

<h2>Управление</h2>
<div>
    @Html.ActionLink("Проценты по депозитам", "DepositPercent")
</div>
<div>
    @Html.ActionLink("Проценты по кредитам", "CreditPercent")
</div>